.cube {
	position: absolute;
	width: 640px;
	z-index: 1;
}

.cube-1 {
	top: 50px;
	transform: translateX(-22%);
	z-index: 3;
}

.cube-2 {
	top: 300px;
	z-index: 3;
}

.cube-3 {
	top: 64px;
	transform: translateX(50%);
	z-index: 1;
}

.cube-4 {
	top: 500px;
	transform: translateX(-30%) rotateZ(45deg);
	z-index: 1;
}
.cube-5 {
	width: 500px;
	transform: translateX(-30%) translateY(-46%);
	z-index: 1;
}

.cube-6 {
	width: 500px;
	transform: translateX(-30%) translateY(-46%);
	z-index: -1;
}

@media (max-width: 1200px) {
	.cube {
		width: 240px;
	}

	.cube-1 {
		top: 50px;
		transform: translateX(-22%);
		z-index: 3;
	}

	.cube-2 {
		top: 150px;
		z-index: 3;
	}

	.cube-3 {
		top: 64px;
		transform: translateX(50%);
		z-index: 1;
	}

	.cube-4 {
		top: 250px;
		transform: translateX(-30%) rotateZ(45deg);
		z-index: 1;
	}
}