header img {
	height: 90px;
	margin: 4px;
}
.header-button {
	display: flex;
	white-space: nowrap;
	border: solid;
	border-radius: 20px;
	border-width: 1px;
	border-color: #000000;
	margin-right: 40px;
	padding: 10px;
	text-decoration: none;
}

@media (max-width: 1200px) {
	.header-button {
		margin-right: 0;
	}
	header img {
		height: 60px;
		margin: 4px;
	}
}