.section-block {
	display: flex;

	width: 100%;
}

.banner-block {
	display: flex;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
	gap: 35px;
}

.banner-text {
	display: flex;
	width: 100%;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	text-align: center;
}

.banner-text h1 {
	/* font-size: 1em; */
	font-size: 7em;
	font-family: "HeliosExtBlackC";
}

.section-name-text {
	margin: 40px 0px 40px 40px;
	font-size: 3em;
	font-family: "HeliosExtBlackC";
}

.works-container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 100px;
}

.text-about {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	color: white;
	width: 30%;
}

.text-about h2 {
	font-family: "HeliosExtBlackC";
	line-height: 1;
	padding: 20px 0px 20px 20px;
	margin: 16px 0px 0px 0px;
	width: 100%;
}

.text-about h3 {
	font-family: "Helvetica Neue Thin";
	font-size: 20px;
	padding: 20px 20px 20px 20px;
	margin: 0px 0px 20px 0px;
	font-weight: 100;
	width: 100%;
}

.banner-block h4 {
	display: block;
	align-content: center;
	color: #ffffff;

	margin-left: 18px;
	width: 30%;
}

.banner-button-container {
	display: flex;
	width: 100%;
	justify-content: center;
	gap:36px;
}

.button-block {
	display: flex;
	justify-content: flex-end;
	width: 30%;
	margin-bottom: 20px;
}

.connect-button {
	display: flex;
	white-space: nowrap;
	background-color: #000000;
	color: #ffffff;
	font-size: 16px;
	border: none;

	padding: 10px;
	text-decoration: none;
}

.form-container {
	border: 1px solid #000;
	padding: 20px;
	width: 50%;
	margin-bottom: 40px;
}

.form-container label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.form-container input,
.form-container textarea {
	width: 90%;
	padding: 5px;
	margin-bottom: 15px;
	border: 0px solid #ccc;
	border-bottom: 1px solid #010101;
}

.form-container textarea {
	width: 95%;
	resize: none;
}

.form-container button {
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #ccff00;
	border: none;
	border-radius: 20px;

	color: #000;
	font-weight: bold;
	font-size: 18px;

	padding: 10px 20px;
	margin-right: 20px;
	cursor: pointer;
	
	transition: background-color 0.3s;
}

.form-container button:hover {
	background-color: #aaff00;
}

@media (max-width: 1200px) {
	.banner-text h1 {
			font-size: 3em;
	}
	.section-name-text{
		font-size: 2em;
	}
	.form-container{
		width: 90%;
	}
	.text-about {
		width: 90%;
}
}