@font-face {
	font-family: "Helvetica Neue";
	src: url("fonts/HelveticaNeue-Light.otf") format("opentype");
}

@font-face {
	font-family: "Helvetica Neue Thin";
	src: url("fonts/HelveticaNeue-Thin.otf") format("opentype");
}
@font-face {
	font-family: "HeliosExtBlackC";
	src: url("fonts/heliosextblackc.otf") format("opentype");
}
html {
	scroll-behavior: smooth;
}

body, main {
	display: flex;
	justify-items: center;
	flex-wrap: wrap;
width: 100%;
	margin: 0;
	padding: 0px 0px 0px 0px;
	height: 100%;
	background-color: #ffffff;
	font-family: "Helvetica Neue";
}
::-webkit-scrollbar {
	display: none;
}